@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #000000;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80;
    background: rgb(30, 30, 31);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(255, 255, 255, 0.05);
}

.logo{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.group{
    display:flex;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    gap: 30px;
    left: 0px;
}

header ul li{
    list-style: none;
}

header ul li a{
    position:relative;
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

header ul li a::before{
    content: '';
    position: absolute;
    bottom:-2px;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

header ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

header .search{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.5em;
    left: 10px;
    z-index: 10;
    cursor: pointer;
}

.searchBox{
    position: absolute;
    right: -100%;
    width: 50%;
    height: 100%;
    display: flex;
    background: rgb(30, 30, 31);
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}

.searchBox.active{
    right: 0;
}

.searchBox input{
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    outline: none;
    height: 50px;
    font-size: 1.25em;
    background: rgb(30, 30, 31);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.search .icon{
    color: #fff;
}

.SearchBtn{
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
}

.SearchBtn.active{
    left: 0;
}

.CloseBtn{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}

.CloseBtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}

.text {
    color: #fff;
}

.printContainer {
    font-size: 30px;
}

.printContainerLarge {
    font-size: 50px;
}

.printContainerSmall {
    font-size: 20px;
}

.printContainerMedium {
    font-size: 35px;
}

.infotext {
    align-items: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.headers {
    padding-bottom: -50%;
    padding-left: 60%;
    align-items: center;
    text-align: center;
}

.headersC {
    padding-left: 57.5%;
}

kbd {
  border-radius: 2px;
  padding: 2px;
  border: 1.5px solid rgb(0, 0, 0);
}

bord {
    background-color: rgba(245, 245, 220, 0.425);
    padding: 10px;
    border: 1px solid ghostwhite;
}

#pwshss {
    padding-top: 50px;
    margin-left: 500px;
    height: 400px;
}

#pwsh {
    margin-left: 300px;
    height: 700px;
}