<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="SHORTCUT ICON" href="../../Images/Icon.ico" type="image/x-icon" />
    <link rel="stylesheet" type='text/css' href=".css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>VirtueBar</title>
</head>
<body>
    <header>
        <a href="#" class="logo">VirtueBar</a>
        <div class="group">
            <ul class="navigation">
                <li><a href="#"">Home</a></li>
                <li><a href="#">Wiki</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="search">
                <span class="icon">
                    <ion-icon name="search-sharp" class="SearchBtn"></ion-icon>
                    <ion-icon name="close-sharp" class="CloseBtn"></ion-icon>
                </span>
            </div>
            <div class="searchBox">
              <input type="text" placeholder="Search Here..">
            </div>
        </div>
    </header>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
        <footer class="text-gray-600 body-font text">
            <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
              <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                
                <span class="ml-3 text-xl text">VirtueBar</span>
              </a>
              <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4 text">© 2022 VirtueBarOffik —
                <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1 text" rel="noopener noreferrer" target="_blank">@Soulfire - XYZ</a>
              </p>
              <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
              </span>
            </div>
          </footer>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src=".js"></script>
    </body>
    </html> 